body{
    background-color: darkgray;
}
div{
    height: 500px;
    width: 400px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
img{
    margin-right: 50px;
    height: 250px;
    width: 400px;   
}
h2{
    margin-left: 20px;
}
input{
    margin-left: 20px;
    height: 20px;
    width: 240px;
}
button{
    margin-left: 10px;
    color: white;
    background-color: red;
    height: 30px;
}
ul{
    list-style: none;
    line
}
