
body{
    background-color: #55cd1e;
    color: white;
    font-family: 'Overpass', sans-serif;
}
img{
    height: 240px;
    width: 320px;
    margin: 10px;
}
div{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#Organic{
    background-color: white;
    color: #55a630;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    margin: 10px;
}
i{
    font-size: 25px;
}